<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %c - %m%n" />
		</layout>
	</appender>

	<appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
                <param name="File" value="${com.sun.aas.instanceRoot}/logs/backoffice.log" />
		<!--param name="File" value="C:/logs/membersite/webapp.log" /-->
		<!--param name="File" value="${logfile.path}" /-->
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<!--param name="MaxFileSize" value="10MB" /-->
		<!--param name="MaxBackupIndex" value="100" /-->
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %c - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LogFile" />
	</root>
</log4j:configuration>