#result table {width: auto;}
#result table td {line-height: inherit!important;}
#loading {position: absolute; top: 5px;}
#result-panel .loading-pnl {height: 26px; position: relative;}
#message {height: 26px; line-height: 26px; padding: 0; margin: 0;}

#result table a.edit {background: url(../../public/images/edit.png) no-repeat left top; padding-left: 20px; height: 16px; display: inline-block;}
#result table a.clean {background: url(../../public/images/clear.png) no-repeat left top; padding-left: 20px; height: 16px; display: inline-block; }

#edit form {line-height: 20px;}
#edit form span {padding-right: 5px;}
#edit form li {padding-top: 10px;}