a.btn-view {
    padding-left: 22px !important;
    background: url(../public/images/view_more_text.png) no-repeat left center;
}

table ul {
    margin-top: 5px;
    margin-left: -12px;
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: #ccc 0px 0px 18px;
    box-shadow: 0 0px 18px #ccc;
}

table ul li label {
    display: inline-block;
    width: 80px;
    color: #888;
}

table ul .shadow,
table ul .arrow {
    border: 8px solid transparent;
    height: 0;
    left: 20px;
    margin-left: -8px;
    position: absolute;
    width: 0;
}

table ul .shadow {
    border-bottom-color: #eee;
    top: -18px;
}

table ul .arrow {
    border-bottom-color: #fff;
    top: -16px;
}


#cash-log2 #result table {width: auto;}
#cash-log2 #result table td {line-height: inherit!important;}
#cash-log2 #loading {position: absolute; top: 5px;}
#cash-log2 #result-panel .loading-pnl {height: 26px; position: relative;}
#cash-log2 #message {height: 26px; line-height: 26px; padding: 0; margin: 0;}