
#btn-excel {
    width: 130px;
    height: 26px;
    line-height: 26px;
    text-align:center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -2px;
    background: darkGray url(../public/images/button-bg.png) repeat-x 0 0;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    border-radius: 5px 5px;
    color: #DDD;
    cursor: pointer;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -moz-text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 3px;
    -webkit-text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 3px;
    text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 1px;
    -moz-box-shadow: #AAA 0px 0px 8px;
    -webkit-box-shadow: #AAA 0px 0px 8px;
    box-shadow: 0 0px 8px #AAA;

}

#btn-excel object {
    position: absolute;
    left: 0;
}

#btn-excel:hover {
    color: white;
}