.ui-table {
    margin-top: 20px;
    width: 100%;
}

.ui-table td {
    padding: 3px 2px;
}

.banner {
    display: none;
}

#content-left {
    background: #fff url(../../images/v3/oddspage-head.png) repeat-x 0 0;
    padding: 0;
    overflow: auto;
    padding-bottom: 250px;
}

h1 {
    line-height: 32px !important;
    background: url(../../images/v3/ico1.png) no-repeat 15px center;
    padding-left: 45px;
    font-size: 100% !important;
    font-weight: normal !important;
}


a.btn-view {
    padding-left: 22px !important;
    background: url(../../images/view_more_text.png) no-repeat left center;
}

.bo #result {
    overflow: visible;
    border: 0;
}

table ul {
    margin-top: 5px;
    margin-left: 5px !important;
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: #ccc 0px 0px 18px;
    box-shadow: 0 0px 18px #ccc;
    width: 200px;
    text-align: left;
}

table ul li.content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

table ul li {
    padding: 0 !important;
    margin: 0;
    list-style: none !important;
}

table ul li label {
    display: inline-block;
    width: 80px;
    color: #888;
}

table ul .shadow,
table ul .larrow {
    border: 8px solid transparent;
    height: 0;
    left: 20px;
    margin-left: -8px;
    position: absolute;
    width: 0;
}

table ul .shadow {
    border-bottom-color: #eee;
    top: -18px;
}

table ul .larrow {
    border-bottom-color: #fff;
    top: -16px;
}

ul a.close {
    background: url(../../images/close.png) no-repeat center center;
    width: 14px;
    height: 14px;
    float: right;
    padding: 5px 1px!important;
}

.total-pl {
    background: #ffffff url(../../images/v5/ico_riches.jpg) no-repeat 80px center;
    border-radius: 10px;
    height: 60px;
    padding: 20px 0 20px 180px;
    margin-top: 20px;
}

.total-pl h3 {
    font-size: 18px;
    font-weight: bold;
}

.total-pl h3 .amount {
    color: red;
}

.total-pl p {
    color: #c8a670;
    font-size: 15px;
    line-height: 2.7em;
}

.panel-title {
    position: relative;
}

.panel-title span {
    font-weight: lighter;
    font-size: 12px;
    color: #000;
    position: absolute;
    bottom: 3px;
    left: 250px;
}